* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
  text-align: center;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.container {
  background-color: gainsboro;
  width: 97.5%;
  height: auto;
  margin: 1.3rem 0.5rem 1.3rem 0.5rem;
  border-radius: 0.4rem;
}
.Tribute {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}
img {
  width: 52rem;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.tri-para-box {
  font-size: 13px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.Tri-list {
  padding: 0.5rem 20rem 1rem 20rem;
  font-size: 13px;
}
.bolded {
  font-weight: bold;
}
.Tri-Italic {
  padding: 1rem 20rem 1rem 20rem;
  text-align: justify;
  font-size: small;
}
.Tri-entry:hover {
  color: violet;
}
